<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>header Component</title>

    <link rel="stylesheet" href="./header-component.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li class="nav--identidad-container"><img src="./assets/icons/Identidad-Evento-icon.svg" alt=""
                                                      class="nav--identidad icon"></li>
            <li class="nav--actions-container">
                <button class="nav--search icon" type="button"><img src="../../assets/icons/Buscar_Icon.svg" alt="">
                </button>
                <button type="button" class="nav--lateral-menu icon">
                    <img src="../../assets/icons/Menu_Icon.svg" alt="Menu icon">
                </button>
            </li>
        </ul>
    </nav>
</header>
</body>
</html>