.event-card--negocio-info {
    text-decoration: none;
    width: 90%;
    min-height: 3.2rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin: 1.8rem 1rem;
}

.event-card--profile-foto {
    cursor: pointer;
    position: relative;
}

.event-card--profile-foto img {
    width: 3.2rem;
    height: 3.2rem;
}
.event-card--profile-foto .event-card--user-type-icon {
    position: absolute;
    width: 1rem;
    height: 1rem;
    bottom: 0.5rem;
    right: 0;
    background: var(--card-background);
    border-radius: 0.4rem;
}

.event-card--profile-info {
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}