<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Negocio Info Component</title>
  <link rel="stylesheet" href="../../styles/common.css">
  <link rel="stylesheet" href="./event-card-negocio-info.css">
</head>
<body>
<div class="event-card--negocio-info">
    <picture class="event-card--profile-foto">
        <a href="/eventos-maquetacion/evento-detalles">
            <img src="./assets/icons/company-icon.svg" alt="Logo del negocio">
        </a>
        <img class="event-card--user-type-icon" src="./assets/icons/type-user-icon.svg" alt="">
    </picture>
    <div class="event-card--profile-info">
        <h3>Nombre del negocio</h3>
        <p>Categoria de negocio</p>
    </div>
</div>
</body>
</html>