.main__navigation {
    margin-top: 10.7rem;
    width: 90%;
    min-width: 16rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--secondary-color);
}
.main__navigation button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    border: none;
    background: transparent;

    font-family: var(--font-family);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.main__navigation img {
    vertical-align: middle;
}

.navigation--informacion {
    color: var(--primary-color);
}

.navigation--separador {
    width: 0.025rem;
    height: 2rem;
    background: var(--just-white);
}
.navigation--eventos {
    color: var(--just-white);
}