.flex-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.main__form-crear-evento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;

    color: var(--text-color);
    font-family: var(--font-family);
    font-style: normal;
    line-height: normal;
}

.main__form-crear-evento h3 {
    font-size: 1rem;
    font-weight: 400;
}

.main__form-crear-evento label {
    font-size: 1rem;
    font-weight: 400;
}

.main__form-crear-evento input::placeholder {
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: 1rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.form--img-input-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.form--img-input-container label {
    display: flex;
    width: 252px;
    height: 252px;
    border: 0.1rem dashed var(--card-background);
    padding: 0.5rem;
    font-size: 1.2rem;
    color: var(--text-color);
}

.form--img-input-container label div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--card-background);

}

.form--img-input-container img {
    width: 4.8rem;
    height: 4.8rem;
    background: transparent;
}

.form--img-input-container input {
    display: none;
}

.form--name-container input {
    padding: 1.2rem





























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































;
    border-radius: 1rem;
    border: 1px solid var(--card-background);
}

.form--name-container input::placeholder {

}