.main__filter-tag-section {
    width: 100vw;
    height: auto;
    margin-top: 0.9rem;
}

.main__filter-tag-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.5rem;
    list-style-type: none;
    padding: 0.9rem 2rem;
    height: auto;
}

.filter-tag {
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
    color: var(--just-white);
    font-family: var(--font-family);
    font-size: var(--tag-font-size);
    font-style: normal;
    font-weight: 200;
    line-height: normal;

    background-color: var(--primary-color);

    min-height: 1.6rem;
    padding: 0.5rem 1rem;
    border-radius: 3rem;
}